.card__course {
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.card__course:hover {
  transform: scale(1.02);
}

.thumbnail {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
